services:
  app:
    build:
      context: .
      args:
        UID: ${LOCAL_UID:-1000}
        GID: ${LOCAL_GID:-1000}
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "8000:8000"
    command: php -S 0.0.0.0:8000 -t public

  node:
    image: node:18-alpine
    user: "${LOCAL_UID:-1000}:${LOCAL_GID:-1000}"
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
